<h1>Search Results for <%= @query %></h1>

<% if @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <li><%= link_to user.name, user %></li>
    <% end %>
  <\ul>
<% else %>
  <p>No users found.<\p>
<% end %>  